src/main/java/WindmolenRequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://schemas.hu.fnt.nl/berichten/request"
  targetNamespace="http://schemas.hu.fnt.nl/berichten/request">
  <xs:element name="windmolenrequest" type="tns:request" />
  <xs:complexType name="request">
    <xs:all minOccurs="1">
      <!-- Vul hier de windsnelheid in m/s in -->
      <!-- Het ingevoerde getal moet een geheel positief getal zijn -->
      <xs:element name="windsnelheid" type="xs:positiveInteger" />
	</xs:all>
  </xs:complexType>
</xs:schema>